<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}">

</head>
<body>
    <hr class="my-4">
<div class="container" style="max-width: 600px">

    <div class="row">
        <div class="col">

            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/login}'|" type="button">로그인</button>
        </div>
    </div>

    <div class="py-5 text-center">

        <h2 style="text-align: left;"><img width="190" style="float: left;" src="/img/duck.gif">&nbsp&nbsp&nbsp고객 센터</h2>

        <br>
        <br>
        <h4 style="text-align: left;">&nbsp&nbsp자주하는 질문</h4>
        
    </div>

    <div class="row">

        <div class="col">

            <button class="btn btn-primary float-end"

                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/question/questionForm}'|"
                    type="button">문의 하기</button>

        </div>

    </div>

    <hr class="my-4">

    <div>
        <table class="table">

            <thead>
            <tr>
                <th th:text="#{label.faq.num}">번호</th>
                <th th:text ="#{label.faq.title}">질문</th>
                <th th:text="#{label.faq.questionMember}">질문자</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each ="faq : ${faqs}" th:if="${faqs!=null}">
                <td><a href="item.html" th:href="@{/FAQ/{faqNum}(faqNum=${faq.num})}" th:text="${faq.num}">1</a></td>
                <td><a href="item.html" th:href="@{/FAQ/{faqNum}(faqNum=${faq.num})}" th:text="${faq.title}">로그인이 안되요</a></td>
                <td th:text="${faq.questionMember}">질문자A </td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>